@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    background-color: #eee;
}

#app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}